<h1>About Me</h1>
<p>Professional background information.</p>

<h2>Skills</h2>
<ul>
  <li>Ruby on Rails</li>
  <li>JavaScript</li>
  <li>Python</li>
  <li>HTML</li>
  <li>Git and GitHub</li>
</ul>

<h2>Educational Background</h2>
<ul>
  <li>Bachelor in Computer Engineering (In Progress)</li>
</ul>

<h2>Achievements</h2>
<ul>
  <li>Developed web applications using Ruby on Rails and JavaScript APIs.</li>
  <li>First-generation college student excelling academically while managing multiple projects.</li>
</ul>

<%= link_to "Back to Home", root_path %>