<h1>Contact Me</h1>

<p>If you would like to get in touch, feel free to reach out through any of these platforms:</p>

<ul>
  <li>Email: <a href="mailto:kluna1@memphis.edu">kluna1@memphis.edu</a></li>
  <li>GitHub: <a href="https://github.com/karluna03" target="_blank">github.com/karluna03</a></li>
</ul>

<%= link_to "Back to Home", root_path %>