<h1>Welcome to My Developer Portfolio!</h1>

<p>Hello! I am Karen, a Computer Engineering student passionate about programming.</p>

<nav>
  <ul>
    <li><%= link_to "About Me", about_path %></li>
    <li><%= link_to "My Projects", work_path %></li>
    <li><%= link_to "Contact Information", contact_path %></li>
  </ul>
</nav>